.heart{
    background-color: red;
    height: 100px;
    width: 100px;  
    margin: auto;
    transform: rotate(45deg);
    margin-top: 200px;
}

.heart::before, .heart::after{
    content: "";
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}
.heart::before{
    left: -50px;
}
.heart::after{
    top: -50px;
    
}

.loader{
    height: 100px;
    width: 100px;
    background-color: rgb(187, 185, 185);
    border-radius: 50%;
    margin: auto;
    animation: spin 1000ms infinite;
    animation-timing-function: linear;
    margin-top: 200px;
    
}
.loader::before{
    content: "";
    height: 90px;
    width: 90px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

@keyframes spin{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

body{
    background-color: black;
}